<div class="signup-driver">
  <form [formGroup]="signupDriverForm">
    <div class="rowContainer">
      <div class="columnContainer">
    <h5 class="signup-form_text">Имя</h5>
    <input type="text" class="signup-form_input"  formControlName="name"/><br>
        <div class="signup-form_error">
    <div class="signup-form_error_message" *ngIf="signupDriverForm.get('name').invalid &&  signupDriverForm.get('name').touched">
      Разрешена только кириллица
    </div>
        </div>
    <h5 class="signup-form_text">Фамилия</h5>
    <input type="text"  class="signup-form_input" formControlName="surname"/><br>
        <div class="signup-form_error">
    <div class="signup-form_error_message" *ngIf="signupDriverForm.get('surname').invalid &&  signupDriverForm.get('surname').touched">
      Разрешена только кириллица
    </div>
        </div>
    <h5 class="signup-form_text">Отчество</h5>
    <input type="text"  class="signup-form_input" formControlName="patronymic"/><br>
        <div class="signup-form_error">
    <div class="signup-form_error_message" *ngIf="signupDriverForm.get('patronymic').invalid &&  signupDriverForm.get('patronymic').touched">
    </div>
        </div>
    <h5 class="signup-form_text">Дата рождения</h5>
    <input type="date"  class="signup-form_input" formControlName="birthdate"/><br>
        <div class="signup-form_error">
    <div class="signup-form_error_message" *ngIf="signupDriverForm.get('birthdate').invalid &&  signupDriverForm.get('birthdate').touched">
      Возраст должен быть больше 18 лет!
    </div>
        </div>
      </div>
      <div class="columnContainer">
        <h5 class="signup-form_text">Логин</h5>
        <input type="text"  class="signup-form_input" formControlName="login"/><br>
        <div class="signup-form_error">
          <div class="signup-form_error_message" *ngIf="signupDriverForm.get('login').invalid &&  signupDriverForm.get('login').touched">   Введите более 4 символов латиницей или цифрами</div>
        </div>
        <h5 class="signup-form_text">Пароль</h5>
        <input type="password" class="signup-form_input"  formControlName="password"/><br>
        <div class="signup-form_error">
        <div class="signup-form_error_message" *ngIf="signupDriverForm.get('password').invalid &&  signupDriverForm.get('password').touched">
          Пароль должен быть не менее 6 символов
        </div>
        </div>
        <h5 class="signup-form_text">Номер телефона</h5>
        <input type="number"  class="signup-form_input" formControlName="mobileNumber"/><br>
        <div class="signup-form_error">
        <div class="signup-form_error_message" *ngIf="signupDriverForm.get('mobileNumber').invalid &&  signupDriverForm.get('mobileNumber').touched">
        Номер должен начинаться с 8 </div>
        </div>
        <h5 class="signup-form_text">Стаж вождения</h5>
        <input type="number" class="signup-form_input"  formControlName="experience"/><br>
        <div class="signup-form_error">
        <div class="signup-form_error_message" *ngIf="signupDriverForm.get('experience').invalid &&  signupDriverForm.get('experience').touched">
        Cтаж не может быть менее 3 лет
        </div>
        </div>
      </div>
    </div>
  </form>
</div>

