<div class="container">
  <div class="carpool_img">
<img  class="carpool-img" src="../../../assets/images/carpool.jpg">
  </div>
  <div class="text-container">
  <div class ="carpool_text_large">Почему Carpool?</div>
  <div class="carpool_text"> Это быстрый, удобный, веселый и доступный способ перемещения. Это отличная альтернатива
   другим существующим сервисам для передвижения по городу, здесь ты можешь выбрать
    будешь ли ты ехать за рулем или же составишь компанию  другим попутчикам.
  </div>
    <div class="form_button-container">
    <input class="form_button"   type="button" value="Зарегистрироваться" routerLink="signup"/>
    </div>
  </div>
</div>

