@import "../../../app/styles/_variables";
.rowContainer {
  display: flex;
  flex-direction: row;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.driver-form_login {
   font-family: 'Exo 2', sans-serif;
   font-size: 30px;
   margin: auto;
 }
.driver-form_experience {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  margin: auto;
  padding: 1em 1em;
}
.container-photo{
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em 11em;
}

.accountPhoto {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
}
.profilePhoto{
  border-radius: 50%;
  position: relative;
  &:hover > .accountPhoto{
    filter: blur(0.7px) opacity(90%) brightness(30%);
    cursor: pointer;
  }
  &:hover > .textPhoto{
    visibility: visible;
    cursor: pointer;
  }
  &:hover > .textPhoto:hover{
    visibility: visible;
    cursor: pointer;
  }
}
.textPhoto{
  height: 30px;
  position: absolute;
  z-index: 100;
  font-size: 1.3em;
  font-weight: 600;
  top: 80%;
  visibility: hidden;
  box-sizing: border-box;
  color: #c3c2c2;
  padding: 5px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &:hover {
    visibility: visible;
    cursor: pointer;
  }
}
.changePhotoButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 300px;
  height: 30px;
  background-color: @main-blue;
  color: @main-text-color-darkbd;
  border-radius: 3px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 18px;
  padding: 5px 5px;
  vertical-align: center;
  &:hover {
    filter: brightness(85%);
  }
  & > label{
    display: block;
  }
}
.changePhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 4em;
}
.input-file {
  visibility: hidden;
}
.driver-form_input {
  max-width:600px;
  width:250px;
  height: 30px;
  line-height:2em;
  font-family: 'Ubuntu', sans-serif;
  outline:none;
  border: 2px solid #8ebacc;
  font-size: 16px;
  text-align: center;
  color: #474747;
  border-radius: 5px;
  &.ng-touched.ng-invalid {
    border: 1px solid #E86850;
  }
  @media only screen and (min-width : 250px) and (max-width : 530px) {
    min-width:250px;
  }
}
h5.driver-form_text {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  margin-block-end: 20px;
  margin-block-start: 40px;
}

.rowContainer-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loadingContainer {
    display: flex;
    margin-top:  24%;
  justify-content: center;
}

