<div class="form">
  <div class="contentContainer">
    <form [formGroup]="createTripForm">
<div class="form">
  <div class="container">
    <div class="columnContainer">
      <div class="form_text-large"> Выберите предположительное время начала и окончания поездки:</div>
    <div class="columnContainer">
<div class="rowContainer time_input">
        <div class="form_text "> начало</div>
        <input type="time"  class="form_input input-time" formControlName="startTime"/>
</div>
      <div class="rowContainer time_input">
      <div class="form_text"> конец</div>
      <input type="time"  class="form_input input-time" formControlName="finishTime" />
    </div>
    </div>
    <div>
      <div class="form_text-large"> Куда</div>
      <input type="text"   class="form_input " #start formControlName="startPlace" />
    </div>
    <div >
      <div class="form_text-large"> Откуда</div>
      <div class="form-group">
        <input type="text"    class="form_input " #finish formControlName="finishPlace" />
      </div>
    </div>
      <div >
        <div class="form_text-large">Какое количество пассажиров Вы готовы подвезти?</div>
        <div class="custom-select">
          <select formControlName="maxPassengersValue">
            <option value="1" > 1</option>
            <option value="2" selected> 2 </option>
            <option value ="3"> 3</option>
          </select>
        </div>
      </div>
  </div>
</div>
</div>
    </form>
  <div class = "map">
    <agm-map style="position: relative"
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom" >
      <agm-marker
        [latitude]="startX"
        [longitude]="startY"   [iconUrl]="startIconUrl"></agm-marker>
      <agm-marker  [latitude]="finishX" [longitude]="finishY"   [iconUrl]="finishIconUrl"></agm-marker>
    </agm-map>
  </div>
  </div>
  <div class="button-container"><button class="form_button" (click)="submit()">Создать</button></div>
</div>


