@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
.login-forms {
  margin-left: 10px;
  height: 20px;
  margin-bottom: 10px;
  background: #effff9;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: midnightblue;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
.login-forms.ng-touched.ng-invalid{
  border-color: #ff7158;
}
.login-forms.ng-touched.ng-valid{
  background: white;
  box-shadow: none;
  border: 1px solid #85d685;
}
.login-forms:hover {
  border: 1px solid white;

}

.container {
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}
.container-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-label {
  display: block;
  width:100px;
  align-content: center;
  height: 42px;
  font-family: 'Exo 2', sans-serif;
}
.login-header{
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  color:#474747;
}
.button {
  width:200px;
  height:35px;
  border-radius: 4px;
  outline: none;
  border:none;
  font-family: 'Exo 2', sans-serif;
  align-content: center;
  margin: auto;
  margin-top: 12px;

}
.signup {
background-color: gray();
  border: 1px solid dimgrey;
}

.login {
  background-color: #85d685;
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.login-form {
  background-color: white;
  width:35%;
  min-height: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

}
.button:hover{
  opacity: 0.7;
}
