<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
  <div class="login-form">
    <div class="login-header">
      <h3>Вход</h3>
    </div>
    <form [formGroup]="loginForm">
    <h4>Логин</h4>
    <input type="text"  formControlName="login"/><br>
      <div class="alert-danger" *ngIf="loginForm.get('login').invalid &&  loginForm.get('login').touched">
        Логин должен быть не менее 4 символов латинских букв или цифр.
      </div>
    <h4>Пароль</h4>
    <input type="password" formControlName="password" />
      <div class="alert-danger" *ngIf="loginForm.get('password').invalid &&  loginForm.get('password').touched">
        Пароль должен быть не менее 6 символов.
      </div>
    <br>
    <input type="button" value="Войти" class="login-button"/>
    <br>
    <a class="sign-up" [routerLink]="['/signup/driver']">Зарегистрироваться!</a>
    <br>
    </form>
  </div>
</div>

