.modal,
.modal-edit {
  font-size: 1rem;
  border: 4px solid #3131311f;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -25%);
  padding: 1em 3em;
  min-width: 25rem;
  max-width: 30rem;
  z-index: 1;
}
.modal-back {
  width: 100vw;
  height: 100vh;
  content: ' ';
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 69px;
  padding-top: 2em;
  padding-bottom: 2em;
}
.modalContainer {
  margin-top: 20px;
}
.form_text-large {
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 1em;
  padding-top: 2em;
}
.form_text-large-long {
  font-family: 'Exo 2', sans-serif;
  padding-top: 2em;
}
.form_input {
  width: 100%;
  max-width: 450px;
  line-height: 25px;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  border: 2px solid #8ebacc;
  font-size: 1rem;
  text-align: center;
  color: #474747;
  border-radius: 5px;
  padding: 5px 5px;
}
.form_input:disabled {
  background-color: white;
  border: 1px solid #616161;
}
.input-time {
  width: 84px;
  text-align: center;
  margin-left: 1em;
}
.form_text {
  width: 100px;
}
.time_input {
  justify-content: flex-start;
  padding-top: 1em;
}
.custom-select select {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 6px;
  font-size: 16px;
  text-align-last: center;
  border: 2px solid #8ebacc;
  width: 200px;
  height: 35px;
  color: #474747;
}
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=search]::-webkit-search-cancel-button,
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.form_button {
  height: 5vh;
  width: 20vw;
  background: #2980b9;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2em;
}
.form_button:hover {
  opacity: 0.8;
}
@media only screen and (min-width: 150px) and (max-width: 530px) {
  .form_button {
    margin-bottom: 10px;
    width: 300px;
  }
}
.map {
  margin-left: 10%;
  box-shadow: 10px 10px 29px 0px #b5b5b5;
}
agm-map {
  content: " ";
  position: relative;
  width: 30vw;
  height: 82vh;
}
@media only screen and (min-width: 150px) and (max-width: 530px) {
  agm-map {
    display: none;
  }
}
body.modal {
  overflow: hidden;
}
.popup-text {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup-buttons {
  width: 150px;
}
.trip-form {
  width: 80%;
  padding: 2em 2em;
  border: 3px solid #6161611c;
  -webkit-box-shadow: 10px 10px 29px 0px #b5b5b5;
  -moz-box-shadow: 10px 10px 29px 0px #b5b5b5;
  box-shadow: 10px 10px 29px 0px #b5b5b5;
}
.add-padding {
  padding-right: 2em;
}
.delete-button {
  background-color: #f14052;
}
.form_close {
  float: right;
}
/*# sourceMappingURL=create-trip.component.css.map */