<div *ngIf="currentUser">
<div class="navbar">
  <div class="navbar_brand">
    <div> EDAYCAR  </div>
  </div>
  <div class="navbar_container">
    <div class="navbar_item" routerLink="">Главная</div>
    <div class="navbar_item" routerLink="trips">Поездки</div>
    <div class="navbar_item" routerLink="create">Создать</div>
    <div class="navbar_item" routerLink="profile-{{currentUser.role}}" >Профиль</div>
    <div class="navbar_item" (click)="logout()">Выйти</div>
  </div>
</div>
</div>

<div>
<router-outlet></router-outlet>
</div>

