<div class="modal-back">
</div>
<div class="modal-edit" *ngIf="chatChecked">
  <div class="form">
    <div class="contentContainer modalContainer">
      <div *ngIf="!mistakeMessage">
      <div class="popup-text"> Начать чат с пользователем: {{userLogin}} ?</div>
    <div class="button-container">
      <button class="form_button popup-buttons" (click)="closeEvent.emit()">Нет</button>
      <button class="form_button popup-buttons" (click)="submit()">Да</button></div>
  </div>
      <div *ngIf="mistakeMessage">
        <div  class="popup-text"> Чат уже создан</div>
        <button class="form_button popup-buttons" (click)="closeEvent.emit()">Ок</button>

      </div>
  </div>
  </div>
</div>
