<div class="container" *ngIf=" (trips$ | async) as trips; else loading">
  <table class="tripsTable">
  <tr class="table-headers">
    <th> </th>
    <th>Начнётся в</th>
    <th>Закончится в</th>
    <th>Откуда</th>
    <th>Куда</th>
    <th>Свободных мест</th>
    <th>Везёт</th>
  </tr>

  <tbody *ngFor="let trip of trips$ | async; let i = index; ">

  <tr class="table-row">
    <td  class>{{i+1}}</td>
    <td  >{{trip.startTime}}</td>
    <td  >{{trip.finishTime}}</td>
    <td  >{{trip.startX | place: trip.startY}}</td>
    <td  >{{trip.finishX}}</td>
    <td  >{{trip.maxPassengers}}</td>
    <td  >{{trip.driver.login}}</td>
  </tr>

  </tbody>
</table>
</div>


<ng-template #loading>
  <div class="loadingContainer">
    <div class="center">
      <div class="loading"></div>
    </div>
  </div>
</ng-template>
