.signup-form {
  background-color: white;
  min-height: 400px;
  min-width: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-top: 30px;
}
.signup-form_button-container {
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signup-nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.signup-header {
  font-size: 24px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  color: #474747;
}
.container {
  margin-top: 80px;
  font-family: 'Exo 2', sans-serif;
  width: 100%;
}
.signup-nav_item {
  background-color: #36a6ef;
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
}
.highlightUser {
  background-color: #3395d5;
}
.signup-nav_text {
  font-size: 14px;
  vertical-align: sub;
  text-shadow: black 0px 0px 1px;
}
.signup-form_button {
  height: 30px;
  width: 310px;
  background: #36a6ef;
  border: 1px solid white;
  border-radius: 20px;
  text-shadow: black 0px 0px 1px;
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  margin: 15px;
}
.signup-form_button:hover {
  background-color: #3395d5;
}
.item-left {
  border-top-left-radius: 6px;
}
.item-right {
  border-top-right-radius: 6px;
}
.signup-user {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (min-width: 250px) and (max-width: 530px) {
  .rowContainer {
    flex-direction: column;
  }
}
.columnContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.columnContainer .signup-form_text {
  max-width: 600px;
  width: 50%;
  display: block;
  font-size: 0.83em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: bold;
}
@media only screen and (min-width: 250px) and (max-width: 530px) {
  .columnContainer .signup-form_text {
    min-width: 250px;
  }
}
.signup-form_input {
  max-width: 600px;
  width: 50%;
  line-height: 2em;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  border: 2px solid #8ebacc;
  font-size: 13px;
  text-align: center;
  color: #474747;
  border-radius: 5px;
}
.signup-form_input.ng-touched.ng-invalid {
  border: 2px solid #E86850;
}
@media only screen and (min-width: 250px) and (max-width: 530px) {
  .signup-form_input {
    min-width: 250px;
  }
}
.signup-form_error_message {
  white-space: nowrap;
  max-width: 600px;
  width: 50%;
  font-size: 10px;
  font-family: 'Exo 2', sans-serif;
  color: #E86850;
  margin: 0em 2em;
  text-align: left;
  font-weight: 600;
}
.signup-form_error {
  height: 5px;
  min-width: 250px;
  display: flex;
  align-items: flex-end;
}
.stickToTop {
  justify-content: end;
}
.passwords-container {
  width: 100%;
  display: contents;
}
.pic {
  z-index: -1;
  position: absolute;
}
/*# sourceMappingURL=signup.component.css.map */