@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import (css) url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');
@import (css) url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed|Unica+One&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import "app/styles/_variables";
@import (css) url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

body{
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  color: @main-text-color-lightbd ;
}
.form_input {
  width: 100%;
  line-height: 25px;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  border: 1.8px solid #8ebacc;
  font-size: 1rem;
  text-align: center;
  color: #474747;
  border-radius: 5px;
  padding: 5px 5px;
}

