@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import (css) url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');
@import (css) url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed|Unica+One&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import "app/styles/_variables";

body{
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  color: @main-text-color-lightbd ;
}
.form_input{
  line-height:2em;
  font-family: 'Ubuntu', sans-serif;
  outline:none;
  border: 1px solid @form-input-border-color;
  text-align: center;
  color: @main-text-color-lightbd;
  border-radius: 5px;
}

