
<div class="container" *ngIf="driverForm !== undefined">
  <form [formGroup]="driverForm">
    <div class="rowContainer-form">
  <div class="rowContainer">
    <div>
    <div class="columnContainer">
      <div>
        <h5 class="driver-form_text">Логин</h5>
        <input type="text" class="driver-form_input"  formControlName="login" readonly/><br>
      </div>
      <div>
        <h5 class="driver-form_text">Пароль</h5>
        <input type="text" class="driver-form_input"  formControlName="password"/><br>
      </div>
      <div>
        <h5 class="driver-form_text">Имя</h5>
        <input type="text" class="driver-form_input"  formControlName="name"/><br>
      </div>
      <div>
        <h5 class="driver-form_text">Фамилия</h5>
        <input type="text" class="driver-form_input"  formControlName="surname"/><br>
      </div>
      <div>
        <h5 class="driver-form_text">Отчество</h5>
        <input type="text" class="driver-form_input"  formControlName="patronymic"/><br>
      </div>
    </div>
    </div>
     <div class="columnContainer">
       <div>
         <h5 class="driver-form_text">Дата рождения</h5>
         <input type="date" class="driver-form_input"  formControlName="birthdate"/><br>
       </div>
       <div>
         <h5 class="driver-form_text">Номер телефона</h5>
         <input type="number" class="driver-form_input"  formControlName="mobileNumber"/><br>
       </div>
       <div>
         <h5 class="driver-form_text">Модель машины</h5>
         <input type="text" class="driver-form_input"  formControlName="carModel"/><br>
       </div>
       <div>
         <h5 class="driver-form_text">Цвет машины</h5>
         <input type="text" class="driver-form_input"  formControlName="color"/><br>
       </div>
       <div>
         <h5 class="driver-form_text">Опыт</h5>
         <input type="number" class="driver-form_input"  formControlName="experience"/><br>
       </div>
     </div>
  </div>
  <div class="changePhoto">
  <div *ngIf=" !currentDriver || !currentDriver.accountPhoto">
    <img  class="accountPhoto "src="https://sun9-4.userapi.com/c849424/v849424786/15eee3/Y4C7mfELwBA.jpg?ava=1">
  </div>
    <div *ngIf=" currentDriver && currentDriver.accountPhoto">
      <img  class="accountPhoto" src="{{currentDriver.accountPhoto}}">
    </div>
    <div  class="changePhotoButton">Изменить фотографию
      <label for="file">
      <input #imageInput   class="input-file" type="file" accept="image/*" id="file"   (change)="onFileChange($event)" />
      </label></div>
    <div class="changePhotoButton" (click)="saveChanges()">Сохранить изменения</div>
  </div>
    </div>
  </form>
</div>

